<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.vlad1m1r.watchface">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA"/>

    <!-- Read data from samsung health -->
    <uses-permission android:name="com.samsung.android.wear.shealth.healthdataprovider.permission.READ" />

    <!-- For API 30+, we need to query packages to display icons from them in complications -->
    <!--I don't know which one to query so I just hope that one of these works-->
    <queries>
        <package android:name="com.samsung.android.wear.shealth" />
        <package android:name="com.samsung.android.wear" />
        <package android:name="com.samsung.android" />
        <package android:name="com.sec.android.app.shealth" />
        <package android:name="com.samsung.android.app.watchmanager" />
        <package android:name="com.samsung.android.app.watchmanager2" />
        <package android:name="com.samsung.android.service.health" />
        <package android:name="de.ludetis.wear2moonphase" />
        <package android:name="com.ppltalkin.phonebatterylevel" />
    </queries>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyTheme"
            android:directBootAware="true"
            android:name=".WearApplication"
            tools:ignore="GoogleAppIndexingWarning">
        <meta-data
                android:name="com.google.android.wearable.standalone"
                android:value="true"/>

        <service
                android:name=".AnalogWatchFace"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_WALLPAPER"
                android:exported="true">

            <meta-data
                    android:name="android.service.wallpaper"
                    android:resource="@xml/watch_face"/>

            <meta-data
                    android:name="com.google.android.wearable.watchface.preview"
                    android:resource="@drawable/preview"/>

            <meta-data
                    android:name="com.google.android.wearable.watchface.preview_circular"
                    android:resource="@drawable/preview_round"/>

            <meta-data
                    android:name="android.service.wallpaper.square_mode"
                    android:value="false" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE"/>
            </intent-filter>

            <meta-data
                    android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                    android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

            <meta-data
                    android:name="com.google.android.wearable.watchface.companionBuiltinConfigurationEnabled"
                    android:value="true" />
        </service>

        <activity android:name="com.vlad1m1r.watchface.settings.MainActivity"
                android:exported="true"
                android:label="@string/wear_settings">

            <intent-filter>
                <action android:name="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.vlad1m1r.watchface.settings.tickslayoutpicker.TicksLayoutPickerActivity"/>
        <activity android:name="com.vlad1m1r.watchface.settings.hands.hand.HandFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.hands.centralcircle.CentralCircleFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.colorpicker.ColorPickerActivity"/>
        <activity android:name="com.vlad1m1r.watchface.settings.colorpicker.customcolor.CustomColorActivity"/>
        <activity android:name="com.vlad1m1r.watchface.settings.about.AboutFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.background.BackgroundFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.complications.ComplicationsFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.complications.picker.ComplicationPickerFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.complications.colors.ComplicationColorsFragment"/>
        <activity android:name="com.vlad1m1r.watchface.settings.confirm.ConfirmDeleteColorActivity"/>
        <activity android:name="androidx.wear.activity.ConfirmationActivity" />
    </application>

</manifest>