<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.vlad1m1r.watchface">

    <!-- Permissions required by the wearable app -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:label="@string/app_name"
                 tools:ignore="GoogleAppIndexingWarning">
    </application>
</manifest>
